framework net461

source https://nuget.org/api/v2

nuget FSharp.Core ~> 4.0.0.1 redirects: force

github praeclarum/sqlite-net
nuget CsvHelper
nuget sqlite
nuget SQLite.Native
nuget YamlDotNet
nuget Argu
nuget sharpcompress
nuget PInvoke.Win32
nuget LANGIDMappings
nuget FsGettextUtils
nuget ICSharpCode.SharpZipLib-dogfood
github enovales/SegaAFSTools src/SegaAFSTools/AFS.fs

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2.6.4
  nuget NUnit.Runners ~> 2.6.4
